#div1
{
color:pink;
background-color:indigo;
border:2px solid pink;
border-radius:30px;
height:30px;
width:50px;
padding-left:25px;
padding-right:30px;
padding-top:20px;
padding-bottom:20px;
margin-left:30px;
}
#div2
{
color:light;
background-color:red;
border:10px inset green;
border-radius:30px;
height:25px;
width:65px;
padding-left:20px;
padding-right:30px;
padding-top:20px;
padding-bottom:20px;
margin-left:100px;
}
#div3
{
color:light;
background-color:yellow;
border:3px dashed blue;
border-radius:20px;
height:100px;
width:120px;
padding-left:20px;
padding-right:50px;
padding-top:20px;
padding-bottom:10px;
margin-left:200px;
}
#div4
{
color:blue;
background-color:pink;
border:2px dotted indigo;
border-radius:30px;
height:20px;
width:50px;
padding-left:20px;
padding-right:30px;
padding-top:20px;
padding-bottom:20px;
margin-left:30px;
}
#div5
{
color:green;
background-color: #F1E8A7;
border:5px solid green;
border-radius:30px;
height:25px;
width:60px;
padding-left:20px;
padding-right:30px;
padding-top:20px;
padding-bottom:20px;
margin-left:350px;
margin-top:20px;
}

#div6
{
color:pink;
background-color:#C70039;
border:10px outset yellow;
border-radius:30px;
height:25px;
width:60px;
padding-left:20px;
padding-right:30px;
padding-top:20px;
padding-bottom:20px;
margin-left:450px;
margin-top:5px;
}

#div7
{
color:green;
background-color:#CD4D26;
border:10px dotted indigo;
border-radius:20px;
height:25px;
width:60px;
padding-left:20px;
padding-right:30px;
padding-top:20px;
padding-bottom:20px;
margin-left:550px;
margin-top:5px;
}
